<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Fibonacci</display-name>
    <servlet-name>Fibonacci</servlet-name>
    <servlet-class>com.learning.hello.Fibonacci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonacci</servlet-name>
    <url-pattern>/Fibonacci</url-pattern>
  </servlet-mapping>
  <display-name>webProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.learning.hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordValidator</display-name>
    <servlet-name>PasswordValidator</servlet-name>
    <servlet-class>com.learning.hello.PasswordValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordValidator</servlet-name>
    <url-pattern>/PasswordValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HighLowServlet</display-name>
    <servlet-name>HighLowServlet</servlet-name>
    <servlet-class>com.learning.hello.HighLowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighLowServlet</servlet-name>
    <url-pattern>/HighLowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiLoServlet</display-name>
    <servlet-name>HiLoServlet</servlet-name>
    <servlet-class>com.learning.hello.HiLoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiLoServlet</servlet-name>
    <url-pattern>/HiLoServlet</url-pattern>
  </servlet-mapping>
</web-app>